head > button{
    align-items: center;
    font-size: small;
    display: inline-block;
}

head > h1{
    font-size: medium;
    align-items: normal;
}

head > p{
    height: 400px;
    width: 100%;
}